.pdf-page {
   position: relative;
   font-family: "Helvetica";
}
.pdf-page p {
   font-size: 9px;
}
.pdf-page h1 {
   font-size: 11px;
}
.pdf-page h2 {
   font-size: 9px;
   font-weight: 700;
   text-transform: uppercase;
}
.pdf-page h3 {
   font-size: 9px;
   font-weight: 700;
}
.logo-pdf {
   position: relative;
}
