@page { margin: 0px; }
body { margin: 0px; }
.margim-pdf {
   padding: 0px 75px;
}
.pdf-page {
   position: relative;
   font-family: "Helvetica";
   margin: 0px;
}
.pdf-page p {
   font-size: 10px;
   margin-bottom: .5rem;
}
.pdf-page h1 {
   font-size: 11px;
   text-align: center;
}
.pdf-page h2 {
   font-size: 10px;
   font-weight: 700;
   text-transform: uppercase;
}
.pdf-page h3 {
   font-size: 10px;
   font-weight: 700;
}
.pdf-page .data {
   padding: 20px 0px 5px;
   float: right;
}
.cabecalho {
   display: block;
   position: relative;
   padding-top: 20px;
   padding-bottom: 15px;
   opacity: .6;
}
.logo-contrato {
   display: inline-block;
}
.info-empresa {
   display: inline-block;
   float: right;
}
.assinaturas {
   text-align: center;
}
.campos {
   display: inline-block;
   width: 150px;
   box-sizing: content-box;
   padding: 0px 60px;
}
.campos p {
   border-top: 1px solid #000;
   padding: 5px 5px;
}
.campo-cliente {
   padding-top: 103px;
}
.clearfix::after {
   display: block;
   content: "";
   clear: both;
}
